{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <p>{{body}}</p>
        <form class="api-form" action=" {{ url_for( 'start_vm', vm_proxmox_id = vm_proxmox_id ) }} " method="POST">
            <button type="submit">Start work environment</button>
        </form>

        <form class="api-form" action=" {{ url_for( 'stop_vm', vm_proxmox_id = vm_proxmox_id ) }} " method="POST">
            <button type="submit">Stop work environment</button>
        </form>

        <form action=" {{ url_for( 'connect_vm', vm_proxmox_id = vm_proxmox_id ) }} " method="POST">
            <button type="submit">Connect to work environment</button>
        </form>

        <form action=" {{ url_for( 'evaluate_exercise', exercise_id = exercise_id ) }} " method="POST">
            <button type="submit">Request exercise evaluation</button>
        </form>

        <form class="api-form" action=" {{ url_for( 'start_vm_firewall', vm_proxmox_id = vm_proxmox_id ) }} " method="POST">
            <button type="submit">Turn on exam mode</button>
        </form>

        <form class="api-form" action=" {{ url_for( 'stop_vm_firewall', vm_proxmox_id = vm_proxmox_id ) }} " method="POST">
            <button type="submit">Turn off exam mode</button>
        </form>

        <form class="api-form" action=" {{ url_for( 'exercise_delete', exercise_id = exercise_id ) }} " method="POST">
            <button type="submit">Delete exercise and all associated VMs</button>
        </form>

        <a href="{{ url_for('manage_exercise', exercise_id=exercise_id) }}" class="button-link">
            <button type="button">Manage exercise</button>
        </a>
        
    </div>
{% endblock %}