{% extends "layout.html" %}


{% block content %}
  <div class="form-wrapper">

    <h1>Sign Up</h1>

    <form class="api-form" method="POST" action=" {{ url_for( 'create_user' )}} ">

      <fieldset class="username">
        <label for="username">Username</label>
        <input id="username" name="username" placeholder="John Smith" required="" type="text" value="">
      </fieldset>

      <fieldset class="email">
        <label for="email">Email</label>
        <input id="email" minlength="6" name="email" placeholder="youremail@example.com" required="" type="text" value="">
      </fieldset>

      <fieldset class="password">
        <label for="password">Password</label>
        <input id="password" minlength="6" name="password" required="" type="password" value="">
      </fieldset>

      <fieldset class="confirm">
        <label for="confirm">Confirm Your Password</label>
        <input id="confirm" name="confirm" required="" type="password" value="">
      </fieldset>

      <div class="submit-button">
        <input id="submit" name="submit" type="submit" value="Register">
      </div>

    </form>

    <div class="login-signup">
      <div>
        <span>Already have an account?</span>
        <a href=" {{ url_for( 'login_user_form' ) }} ">Log in.</a>
      </div>
    </div>
  </div>

{% endblock %}